/* Preparation */
*::selection{
    background: var(--secondary-color);
    color: var(--white);

}

:root{
    /* Colors */
    --bg-color: #F1F4F9;
    --primary-color: #1DA871;
    --secondary-color: #85F657;
    --accent-color: #E9FF97;
    --text-color: #333335;
    --text-gray: #8B8B8F;

    --white: white;

    /*  */
}

/* Navbar */
nav{
    position: fixed;
}

/* Hero */
header{
    background: url("../assets/image/hero-bg.png") lightgray 50% / cover no-repeat; 
    min-height: 100vh;
    color: var(--white);
}

header .col-12{
    margin-top: 100px;
}