/* Preparation */
* {
  scroll-behavior: smooth;
  color: var(--text-color);
}

*::selection {
  background: var(--secondary-color);
  color: var(--white);
}

:root {
  /* Colors */
  --bg-color: #f1f4f9;
  --primary-color: #1da83c;
  --secondary-color: #85f657;
  --accent-color: #e9ff97;
  --text-color: #333335;
  --white: white;
  --gradient: linear-gradient(196deg, #1DA83C -18.2%, #85F657 117.26%);

  /* Radius */
  --default-radius: 30px;
  --big-radius: 60px;

  /* Shadow */
  --default-shadow: 0px 4px 19.1px 0px rgba(149, 163, 186, 0.2);
  --bg-shadow: 0px 5px 30px 28px var(--bg-color);
  --hover-shadow: 0px 67px 30px -39px rgba(29, 168, 113, 0.30);

  /* Sizing */
  --default-font-size: 16px;

  /* Duration */
  --normal-duration: all 0.3s ease;
  --normal-duration-without-all: 0.3s ease;
}

h1 {
  font-size: 50px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 105.882% */
  text-transform: capitalize;
}

h2 {
  color: var(--white);
  font-size: 30px !important;
  font-style: normal;
  line-height: 48px; /* 114.286% */
}

h3,
.h3 {
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 153.846% */
  text-transform: capitalize;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: var(--bg-color);
}

.section-full {
  min-height: 100vh;
  color: var(--bg-color);
}

.primary-button {
  padding: 14px 30px;
  background: var(--primary-color);
  color: var(--white) !important;
  text-decoration: none;
  border-radius: var(--big-radius);
  outline: 1px solid var(--primary-color);
  transition: var(--normal-duration);
}

.primary-button:hover {
  outline-offset: 3px;
}

.green-text {
  color: var(--primary-color);
  position: relative;
}

.green-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
  animation: line var(--normal-duration-without-all);
  animation-timeline: view();
  animation-range: entry 3 cover 40%;
}

@keyframes line {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* General Animation */
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Navbar */
.navbar {
  width: 90%;
  top: 50px;
  left: 50%;
  padding: 20px 60px !important;
  z-index: 10;
  border-radius: var(--default-radius);
  box-shadow: var(--default-shadow);
}

.navbar-brand {
  color: var(--primary-color) !important;
  font-size: 26px !important;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.login-button {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 50px;
  border: none;
  outline: 1px solid var(--primary-color);
  text-decoration: none;
  transition: var(--normal-duration);
  position: relative;
  overflow: hidden;
}

.login-button:hover {
  background: var(--primary-color);
  color: var(--white);
  outline-offset: 3px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: var(--text-white) !important;
  font-weight: 500;
  position: relative;
}

.absolute-pls {
  position: static;
}

.nav-link:hover,
.nav-link:active {
  color: var(--primary-color) !important;
}


/* ========================== INDEX ========================== */
/* Header */
header {
  background: url(../assets/image/hero-bg.png) lightgray 50% / cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  z-index: -1;
  top: 0;
  display: flex;
  align-items: center;
}

header .header-content {
  color: var(--white);
}

.button-large {
  background: var(--primary-color);
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--big-radius);
  color: var(--white);
  text-decoration: none;
  outline: 2px solid var(--primary-color);
  transition: var(--normal-duration);
  position: relative;
  overflow: hidden;
}

.button-large::after {
  content: url(../assets/svg/leaf-fill.svg);
  position: absolute;
  width: 60px;
  bottom: -10px;
  opacity: 30%;
  right: -150px;
  transition: var(--normal-duration);
}

.button-large:hover {
  outline-offset: 5px;
  outline-color: var(--secondary-color);
}

.button-large:hover::after {
  right: 0;
}

/* Shape divider */
.custom-shape-divider-bottom-1726642385 {
  position: absolute;
  top: -84px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1726642385 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1726642385 .shape-fill {
  fill: var(--white);
}

/* main */
main {
  z-index: 1;
  background: var(--bg-color);
  margin-top: 100vh;
}

/* Text Berjalan */
.text-berjalan {
  height: 80px;
  box-shadow: 0px -20px 35.5px 0px var(--BG-Color, #F1F4F9) inset, -120px 0px 24.4px -56px #FFF inset, 120px 0px 24.4px -56px #FFF inset;
}

.text-berjalan .the-text {
  animation: berjalan 10s infinite linear;
  gap: 30px;
}

.text-berjalan .dots {
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  border-radius: var(--big-radius);
}

@keyframes berjalan {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Why Choose Us */
.wcu {
}

.wcu .wcu-content {
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
  transition: var(--normal-duration);
  position: relative;
}

.wcu .wcu-content .wcu-inner-content-1 {
  background: var(--white);
}

.wcu .wcu-content .wcu-inner-content-1 img {
  width: 84px;
}

.wcu .wcu-content h3 {
  color: var(--primary-color);
}

.wcu .wcu-content .wcu-inner-content-2 {
  position: absolute;
  word-wrap: break-word;
  z-index: -1;
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
  background: var(--white);
  transition: transform var(--normal-duration-without-all);
}
.wcu .wcu-content:hover {
  transform: translateY(-30px);
}

.wcu .wcu-content:hover .wcu-inner-content-2 {
  transform: translateY(100px);
}

/* Count */
.isi-count{
  background: var(--gradient);
  border-radius: var(--default-radius);
  box-shadow: var(--hover-shadow);
}

.isi-count h2::before{
  content: '+ ';
}


.custom-shape-divider-top-1727148988 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1727148988 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
}

.custom-shape-divider-top-1727148988 .shape-fill {
  fill: #FFFFFF;
}

/* ========================== ABOUT US ========================== */
.about{
  padding-top: 200px !important;
}

.gallery .row{
  /* height: 500px; */
}

.gallery img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: var(--default-radius);
  animation: berjalan 5s linear infinite;
  box-shadow: var(--default-shadow);
}

.gallery:hover img{
  animation: ;
}



/* Responsive */
@media (max-width: 992px) {
  .navbar-brand img {
    width: 70px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 991px) {
  .navbar-nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary-color) !important;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 90%;
    visibility: visible;
  }
}

@media (max-width: 991.5px) {
  .absolute-pls {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 30px;
    border-radius: var(--default-radius);
    background: var(--white);
    width: 50%;
  }

  .navbar-nav {
    margin-bottom: 10px;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }

  .login-button {
    width: 100%;
  }
}
